/* Universal elements ---------------------------------- */
:root {
    --text-color: #D2D3D5;
    --background-color: #2F3136;
    --accent-color: #36393F;
    --highlight-color: #32353B;
}

h1, h2, h3 {
    color: var(--text-color);
}

hr {
    border: 2px solid var(--background-color);
    background: var(--background-color);
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--background-color);
}
/*------------------------------------------------------ */

/* Main state elements ---------------------------------- */
#main-header {
    text-align: center;
}

.nav-button {
   margin-left: 50%;
   transform: translate(-50%, 0);
   width: 15%;
   margin-bottom: 20px;
}
/*------------------------------------------------------- */

/* Quiz state elements ---------------------------------- */
quiz-state {
    display: none;
    background-color: var(--accent-color);
    margin-left: 50%;
    transform: translate(-50%, 0);
    padding-bottom: 16px;
}

#question-header {
    text-align: center;
    padding-top: 25px;
}

#question {
    text-align: center;
}

#question:hover {
    text-align: center;
    background-color: var(--background-color);
    cursor: pointer;
}

#timer {
    position: absolute;
    bottom: -64px;
    margin-left: 50%;
    transform: translate(-50%, 0);
    text-align: center;
}

#right-wrong-label {
    color: #D2D3D500;
    position: absolute;
    bottom: -112px;
    margin-left: 50%;
    transform: translate(-50%, 0);
    text-align: center;
    transition: all 0.25s ease-in-out;
}
/*------------------------------------------------------- */

/* Input state elements ---------------------------------- */
input-state {
    display: none;
    margin-left: 50%;
    transform: translate(-50%, 0);
    padding-bottom: 16px;
}

#result {
    text-align: center;
}

#name-input {
    display: block;
    margin-left: 50%;
    transform: translate(-50%, 0);
}
/*-------------------------------------------------------- */

/* Score state elements ---------------------------------- */
score-state {
    display: none;
    margin-left: 50%;
    transform: translate(-50%, 0);
    padding-bottom: 16px;
}

#score-header {
    text-align: center;
}

#score-list {
    background-color: var(--accent-color);
    padding-top: 10px;
    padding-bottom: 10px;
}

li {
    color: var(--text-color);
    margin-bottom: 5px;
    padding: 5px;
    font-size: 20px;
}

.centered-button {
    width: 100px;
    margin-left: 50%;
    transform: translate(-50%, 0);
}
/*-------------------------------------------------------- */